header{
    display: flex;
background-color: brown;
justify-content: space-between;
color: black;
}

footer{
    display: flex;
    background-color: bisque;
    color: black;
}

a{
    text-decoration: none;
    }

    .titulo_seccion {
        position: relative;
        font-size: 40px;
        color: #003750;
        text-align: center;
      }

      .container {
        max-width: 100px; /* Define el ancho máximo del contenedor */
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 20px; /* Agrega un poco de espacio alrededor del formulario */
        border: 10px; /* Agrega un borde al contenedor */
        border-radius: 20px; /* Agrega bordes redondeados al contenedor */
      }

      .form-group {
        margin-bottom: 15px; /* Espacio entre cada input */
      }

      label {
        margin-bottom: 5px;
      }

      input[type="text"],
input[type="email"],
textarea {
  width: 20; /* Define el ancho máximo del input */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
    resize: vertical; /* Permite redimensionar verticalmente el textarea */
  }
  button {
    border: 20px;
    margin: 10px;
    padding: 5px;
    width: 40px;
    text-align: center;
  }


  button:hover {
    background-color: rgb(0, 221, 255);
  }



